.biography-component {
    display: flex;
    align-items: center;
    /* height: fit-content; */
    min-height: 100vh;
    width: 100%;

    margin: 10vh 0;
}

.biography-wrapper {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.intro-company {
    background: -webkit-linear-gradient(0deg, #a0e9ff ,#a162e8 ,#f093b0,#edca85 ,#f093b0,#a162e8, #a0e9ff);
    background-size: 1400% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradient 2s ease infinite;
    -webkit-animation: gradient 2s ease infinite;
    -o-animation: gradient 2s ease infinite;

    /* text-decoration: underline; */
}

.biography-wrapper img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    

    border-radius: 40px;

    max-width:500px;
    max-height:500px;
    width: auto;
    height: auto;

    padding: 15px;

}

.biography-content {
    padding: 20px;   
}

.biography-intro {
    font-size: 2em;
    font-family: Bogart, Recoleta, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.biography-bio {
    font-size: 1.2em;
    
    display: flex;
    flex-direction: column;
}

.bio-paragraph {
    margin: 12px 0;
}

.biography-techstack {
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bio-techstack {
    font-weight: 600;
    padding-right: 10px;
    flex: 1 1 50%;


    background: -webkit-linear-gradient(0deg, #a0e9ff ,#a162e8 ,#f093b0,#edca85 ,#f093b0,#a162e8, #a0e9ff);
    background-size: 1400% auto;
    background-repeat: repeat-x;
  
    animation: gradient 2s ease infinite;
    -webkit-animation: gradient 2s ease infinite;
    -o-animation: gradient 2s ease infinite;
  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.biography-techstack-title {
    font-size: 1em;
    color: #a1a1a1;
    margin-bottom: 6px;
    /* text-decoration: underline; */

}