.experience-component {
    display: block;
    height: fit-content;
    
    min-height: 50vh;
    width: 100%;
    max-width: 50vw;

    display: flex;
    margin: 10vh auto;
    /* text-align: center; */
  }

  .experience-wrapper {
    width: 100%;
    height: 100%;
  }

  .experience-header {
    height: 10%;
    top:0;
    font-size: 2.3em;
    font-family: Bogart, Recoleta, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  .experience-content {
    height: 90%;
  }

  ul.experience-list {
    padding: 0;
    list-style: none;
  }

  li.experience-job {
    display: flex;
    flex-direction: column;

    background: #191919;
    /* background: #a1a1a1; */
    border-radius: 25px;

    margin: 12px 0;
    padding: 20px;

  }

  div.job-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 1.2em;
  }

  .job-title {
    font-style: italic;

    transition: margin-bottom .5s ease;
    -webkit-transition: margin-bottom .5s ease;
    -o-transition: margin-bottom .5s ease;
  }

  .job-header {
    font-weight: 600;
  }

  .job-desc {
    height: fit-content;
    max-height: 0px;
    transition: max-height .5s ease;
    -webkit-transition: max-height .5s ease;
    -o-transition: max-height .5s ease;

    display: flex;
    flex-direction: column;

    overflow: hidden;
  }

  .job-desc span {
    font-size: 1em;
    font-weight: 400;
    padding: 5px 0;
  }

  li.experience-job:hover .job-desc {
    max-height: 500px;

    transition: max-height 1s ease;
    -webkit-transition: max-height 1s ease;
    -o-transition: max-height 1s ease;
  }

  li.experience-job:hover .job-title{
    margin-bottom: 12px !important;

    transition: margin-bottom .5s ease;
    -webkit-transition: margin-bottom .5s ease;
    -o-transition: margin-bottom .5s ease;
  }

  .job-year {
    font-family: "Biotif-Regular", Recoleta, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    background: -webkit-linear-gradient(0deg, #a0e9ff ,#a162e8 ,#f093b0,#edca85 ,#f093b0,#a162e8, #a0e9ff);
    background-size: 1400% auto;
    background-repeat: repeat-x;
  
    animation: gradient 2s ease infinite;
    -webkit-animation: gradient 2s ease infinite;
    -o-animation: gradient 2s ease infinite;
  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }