div.projects-component {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
  }
  
  ul.project-list {
    height: fit-content;
    width: 90%;
    /* margin: 20vh 0; */
  
    list-style: none;
    padding: 0px;
    position: relative;
  
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
  
  }
  
  ul.project-list li:hover {
  
  }
