@font-face {
  font-family: Biotif-Regular;
  src: url(./fonts/biotif.woff2) format("woff2");
}

@font-face {
  font-family: Bogart;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(./fonts/bogart-med.woff2) format("woff2");
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: "Biotif-Regular",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
  color: white;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-family: Bogart, Recoleta, Helvetica Neue, Helvetica, Arial, sans-serif;
}

div.container {
  height: fit-content;
}

div.content-row {
  height: 100%;
}

div.content {
  display: absolute;

  height: fit-content;
}

/* div.content-wrapper {
  height: fit-content;
} */

div.content-wrapper {
  box-sizing: content-box;
  height: fit-content;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.content-wrapper::-webkit-scrollbar {
  display: none;
}


.arrow:hover {
  border: 1px solid white;
  border-radius: 5px;

  transition: border .1s ease;
  -webkit-transition: border .1s ease;
  -o-transition: border .1s ease;

  font-weight: 600;

  background-color: white;

  transition: background-color .5s ease;
  -webkit-transition: background-color .5s ease;
  -o-transition: background-color .5s ease;

  color: #111;

  transition: color .2s ease;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
}

@media screen and (max-width: 1050px) {
  .biography-wrapper img {
    width:100% !important;
    height:100% !important;
  }
  .biography-wrapper {
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column !important;
}
}

@media screen and (max-width: 601px) {

  .intro-component .name {
    font-size: 16px !important;
  }

  .introduction, .introduction-name {
    font-size: 28px !important;
  }

  div.intro-component {
    max-width: 85vw;
  }

  span.project-title {
    font-size: 1.2em;
  }

  .project-list-item {
    height: fit-content;
    flex: 100% !important;
  }

  .project-list  {
    flex-direction: column;
  }

  span.project-bio {
    font-size: .8em;
  }

  div.row .project-techstack-wrapper {
    height: 20%;
  }

  .project-techstack-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column !important;
    height: 5%;
  }

  span.project-techstack {
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0 !important;
  }

  .footer-message {
    font-size: 2em !important;
  }

  .job-desc span {
    font-size: 1em;
    font-weight: 400;
    padding: 5px 0;
  }


  .job-desc {
    display: none;
  }

  .biography-wrapper {
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column !important;
}

.biography-wrapper img {
  width:100% !important;
  height:100% !important;

  margin: 0 !important;
}

  li.experience-job:hover .job-desc {
    display: flex;
    flex-direction: column;
  }

  .experience-component {
    max-width: 85vw !important;
  }

  .project-wrapper {
    height: fit-content !important;
  }

}



