body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
  color: white;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-family: Bogart, Recoleta, Helvetica Neue, Helvetica, Arial, sans-serif;
}

div.container {
  height: 100vh;
}

div.content-row {
  height: 100%;
}

div.content {
  max-width: 50vw;
}

.content span.introduction {
  font-family: 'Bogart', Recoleta, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.content span {
  display: block;
}

.content .introduction {
  /* font-size: 18px; */
  font-size: 2em;
}

.content span.socials {
  padding-top: 10px;
  font-size: 1em;
}

.socials svg {
  margin: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.socials a {
  color: #a1a1a1;

  transition: color .2s ease;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
}

.socials a:hover {
  color: white;

  transition: color .2s ease;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
}

.arrow {
  padding: 5px 15px;
  border: 1px solid #a1a1a1;
  border-radius: 5px;

  transition: border .3s ease;
  -webkit-transition: border .3s ease;
  -o-transition: border .3s ease;

  transition: background-color .5s ease;
  -webkit-transition: background-color .5s ease;
  -o-transition: background-color .5s ease;

  transition: color .2s ease;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;

  font-size: 1.5em;
  font-family: 'Bogart', Helvetica Neue, Helvetica, Arial, sans-serif;
}

div.content {
  display: absolute;
  overflow: hidden;

  height: 100vh;
}

div.content-wrapper {
  overflow: hidden;
}

div.content-wrapper {
  height: min-content;
  overflow-y: scroll;
  box-sizing: content-box;
  overflow: none !important;

  height: 95vh;
  margin: 2.5vh 0;

  display: flex;
  align-items: center;
}

div.content-wrapper::-webkit-scrollbar {
  display: none;
}


.arrow:hover {
  border: 1px solid white;
  border-radius: 5px;

  transition: border .1s ease;
  -webkit-transition: border .1s ease;
  -o-transition: border .1s ease;

  font-weight: 600;

  background-color: white;

  transition: background-color .5s ease;
  -webkit-transition: background-color .5s ease;
  -o-transition: background-color .5s ease;

  color: #111;

  transition: color .2s ease;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
}


.name {
  /* font-size: 35px; */
  font-size: 1.2em;
  line-height: 1em;
  font-family: 'Botif-Regular', Recoleta, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.introduction .introduction-name-border {
  font-size: 0em;
  display: inline-block;
  padding-bottom: 3px !important;
  transition: padding-bottom .1s ease;
  -webkit-transition: padding-bottom .1s ease;
  -o-transition: padding-bottom .1s ease;

  background: -webkit-linear-gradient(0deg, #a0e9ff ,#a162e8 ,#f093b0,#edca85 ,#f093b0,#a162e8, #a0e9ff);
  background-size: 1400% auto;
  background-repeat: repeat-x;

  animation: gradient 2s ease infinite;
  -webkit-animation: gradient 2s ease infinite;
  -o-animation: gradient 2s ease infinite;

}

.introduction .introduction-name-wrapper {
  font-size: 32px;
  line-height: 32px;
  display: inline-block;
  background: #111;
}

.introduction .introduction-name-border:hover {
  background: white;
  padding-bottom: 0px !important;
  transition: padding-bottom .15s ease;
  -webkit-transition: padding-bottom .15s ease;
  -o-transition: padding-bottom .15s ease;
}

.introduction .introduction-name-wrapper:hover .introduction-name {

  background: -webkit-linear-gradient(0deg, #a0e9ff ,#a162e8 ,#f093b0,#edca85 ,#f093b0,#a162e8, #a0e9ff);
  background-size: 1400% auto;
  background-repeat: repeat-x;

  animation: gradient 2s ease infinite;
  -webkit-animation: gradient 2s ease infinite;
  -o-animation: gradient 2s ease infinite;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

@font-face {
  font-family: Biotif-Regular;
  src: url(./fonts/biotif.woff2) format("woff2");
}

@font-face {
  font-family: Bogart;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(./fonts/bogart-med.woff2) format("woff2");
}

div.projects-component {
  height: 100vh;
  width: 100%;
}

ul.project-list {
  height: 80vh;
  margin: 10vh 0;

  list-style: none;
  padding: 0px;
  position: relative;

  display: block;
  flex-direction:column;
  justify-content: space-between;

}

ul.project-list li {
  height: fit-content;
  min-height: 350px;
  margin: 25vh 0px;
  width: 100%;
  background: #191919;
  border-radius: 50px;

  padding: 25px;

  overflow:hidden;

  transition: padding .2s ease;
  -webkit-transition: padding .2s ease;
  -o-transition: padding .2s ease;
}

ul.project-list li:hover {

}

ul.project-list div.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 300px;
}

ul.project-list div.row {
  margin: 10px;
  font-size: 1.15em;
}

span.project-links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px !important;
  border-bottom: 1px dotted #a1a1a1;
}

.folder-icon {
  color: #a1a1a1;
}

div.row .project-links-wrapper {
  height: 20%;
}

div.row .project-title-wrapper {
  height: 15%;
}

div.row .project-bio-wrapper {
  height: 60%;
}

div.row .project-techstack-wrapper {
  display: flex;
  flex-direction: row;
  height: 5%;
}

.project-techstack-wrapper span {
  /* text-align: center; */
  width: fit-content;
  font-size: .9em;
}

.project-bio-wrapper span {
  font-size: 1em;
  font-weight: 600;
}

span.project-repo {
  font-weight: 400;
  font-size: .4em;
  line-height: .4em;

  color: #a1a1a1;
  font-family: 'Biotif', Recoleta, Helvetica Neue, Helvetica, Arial, sans-serif;
}

span.project-title {
  /* background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  font-family: 'Bogart', Recoleta, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2em;
  line-height: 1.4em;
}

span.project-links {
  padding-top: 0 !important;
  padding: 0;
}

ul.project-list span {
  padding: 0px;
}

span.project-techstack {
  color: #a1a1a1;
  font-weight: 600;
  padding: 12px !important;

  background: -webkit-linear-gradient(0deg, #a0e9ff ,#a162e8 ,#f093b0,#edca85 ,#f093b0,#a162e8, #a0e9ff);
  background-size: 1400% auto;
  background-repeat: repeat-x;

  animation: gradient 2s ease infinite;
  -webkit-animation: gradient 2s ease infinite;
  -o-animation: gradient 2s ease infinite;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 601px) {
  div.content {
    max-width: 85vw;
  }

  span.project-title {
    font-size: 1.2em;
  }

  ul.project-list li {
    height: fit-content;
  }

  ul.project-list li div.row {
    padding: 10px 0;
  }

  span.project-bio {
    font-size: .8em;
  }

  div.row .project-techstack-wrapper {
    height: 20%;
  }

  span.project-techstack {
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0 !important;
  }
}

div.nav-container {
  background: #111;

  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;

  z-index: 10;
}

.nav-container ul {
  width: 100%;
  height: fit-content;

  margin: 25px 0;

}

.nav-container ul li {
  display:inline;
  list-style: none;

  font-weight: 600;

  margin: 0 12px;
}

span.navbar-link:hover {
  background: -webkit-linear-gradient(0deg, #a0e9ff ,#a162e8 ,#f093b0,#edca85 ,#f093b0,#a162e8, #a0e9ff);
  background-size: 1400% auto;
  background-repeat: repeat-x;
  font-weight: 600;

  animation: gradient 2s ease infinite;
  -webkit-animation: gradient 2s ease infinite;
  -o-animation: gradient 2s ease infinite;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}



